@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: #1a1b24;
}
/* Inicio */

header{
    width: 100%;
    height: 650px;

    background: url(../img/CapaLea.png);
    background-position:right;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Menu */
.logo{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 50px;
}
.logo h1{
    font-size: 40px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 100px;

    display: flex;

    align-items: end;
    justify-content: space-between;
}
nav .menu a{
    font-family: 'Montserrat';
    font-weight: 400;
    color: #ffff;
    font-size: 25px;
}
nav .menu{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}
.logo img{
  width: 140px;
}

/*efeito*/
nav .menu a:hover {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #d60000,
      0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    transform: scale(1.2);
}
  
  nav .menu a:hover:first-child {
    animation: glitch 500ms infinite;

  }
  
  nav .menu a:hover:last-child {
    animation: glitch 375ms infinite;

  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #d60000,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #d60000,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #d60000,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #d60000,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #d60000,
        0 -0.04em 0 #fffc00;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #d60000,
        0 -0.04em 0 #fffc00;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #d60000,
        -0.04em -0.025em 0 #fffc00;
    }
  }
  
/* Imagens e titulos */
.inicio{
    width: 100%;
    height: 550px;
    display: flex;
}
.perfil{
    width: 50%;
    height: 100%;
    background-image: url(../img/2.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.titulos{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: end;
}
.caixa{
    width: 100%;

    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.lea{
    width: 100%;
    height: 50%;
    font-family: 'Montserrat', sans-serif;
}
.lea h2{
    font-size: clamp(2.2rem,5.5vw,10rem);
    color: #ffff;
}
.lea h2.leatitulo{
  color: #53d6ff;
}

.contato{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: end;
    align-items: end;
}
.icones{
    width: 200px;
    height: 65px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 2px solid #53d6ff;
}
/*SOBRE*/
.sobre{
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #373740 80%, #1a1b24 20%);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.caixasobre{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.caixatexto{
  width: 55%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 50px;

}
.caixatexto .paragrafo{
  font-family: IBM Plex Mono;
  color: #ffff;

  text-align: justify;
  text-indent: 2em;
  font-size: 16px;
}
.foto{
  width: 28%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.foto img{
  width: 98%;

  box-shadow: 30px 30px 1px #111119;
}
.titulosobrenome{
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulosobre{
  width: 100%;

  display: flex;
  align-items: center;
 
  flex-direction: column;
}
.titulosobre hr{
  margin-top: 10px;
  margin-bottom: 20px;

  height: 2px;
  width: 40%;
  background-color: #53d6ff;
}
.titulosobre p{
  font-size: clamp(1rem,3vw,1.2rem);
  font-family: IBM Plex Mono;
  color: #53d6ff;
}
.titulosobre h2{
  font-size: clamp(1rem,3vw,2.5rem);
  font-weight: 100;
  font-family: IBM Plex Mono;
  color: #ffff;
}

.informacoes{
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.curriculo{
  width: 100%;
  height: auto;
  margin-top: 25px;
  
  border:1px solid #ffff;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  padding-top: 30px;
  padding-bottom: 30px;
}
.curriculo p{
  font-family: IBM Plex Mono;
  color: #ffff;
  font-size: 20px;

  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
.duasinformacoes{
  display: flex;
 justify-content: space-between;
}


.botao{
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.botao a{
  width: 200px;
  border-radius: 5px;
  text-decoration: none; 

  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: bold;

  padding: 20px;
}
#but1 {
  background-color: #1a1b24;
  color: #ffff;
}
#but2 {
  background-color: #53d6ff;
  color: #1a1b24;
}
#but1:hover{
  background-color: #ffff;
  color: #1a1b24;
}
#but2:hover{
  background-color: #ffff;
  color: #1a1b24;
}

/*skills*/

.skills{
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
}
.titulohab{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulohab hr{
  margin-top: 10px;
  margin-bottom: 20px;

  height: 2px;
  width: 50%;
  background-color: #53d6ff;
}
.titulohab p{
  font-size: clamp(1rem,3vw,1.2rem);
  font-family: IBM Plex Mono;
  color: #53d6ff;
}
.titulohabnome h2{
  font-size: clamp(1rem,3vw,2.5rem);
  font-weight: 100;
  font-family: IBM Plex Mono;
  color: #ffff;
}
.quadrados{
  height: auto;
  width: 100%;
  margin-top: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.servicos{
  width: 350px;
  height: 300px;

  background-color: #272727;
  color: #fff;
  font-family: IBM Plex Mono;
  font-size: 28px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 30px 30px 20px #111119;
  margin-top: 10px;

  transition: 0.5s ease-in-out;
}
.servicos:hover{
  margin-bottom: 60px;
  transition: 0.5s ease-in-out;

  box-shadow: 30px 30px 1px #111119;
}
.servicos p{
  margin-top: 15px;
}
#servicoazul{
  background-color: #53d6ff;
  color: #272727;
}

/*Linguagens*/

.linguagens{
  margin-top: 100px;
}
.caixas{
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#caixa1{
  width: 30%;
  height: 430px;

  margin-top: 60px;

  background-color: #373740;
  box-shadow: 
  30px 30px 1px #111119,
  -30px -30px 1px #53d6ff; 
}
#caixa1{
  color: #fff;
  font-family: IBM Plex Mono;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-size: 25px;
}
#caixa2{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
#caixa2 img, #caixa2 svg{
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}
.titulohab2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulohab2 hr{
  margin-top: 10px;
  margin-bottom: 20px;

  height: 2px;
  width: 20%;
  background-color: #53d6ff;
}
.titulohab2 p{
  font-size: clamp(1rem,3vw,1.2rem);
  font-family: IBM Plex Mono;
  color: #53d6ff;
}

/*FOOTER*/
footer{
  width: 100%;
  height: 160px;

  background-color: #1a1b24;
  border-top: #373740 solid 30px;

  margin-top: 50px;
}


/*linhatempo*/

.linhatempo{
  width: 100%;
  height: auto;
}


/* Resume */
.resume{
  color: #ffff;
  font-family: 'Montserrat';
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffff;
  font-family: 'Montserrat';
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #a7d0f7;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #53d6ff;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}










/*RESPONSIVO*/


/*dispositivos móveis*/
@media screen and (max-width: 480px) {

.menu a{
  display: none;
}
.mobile-menu.open{
  position: absolute;
  width: 100%;
  height: 155px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  font-family: IBM Plex Mono;

  background-color: #1a1a1a;
}
.mobile-menu-icon {
    display: block;
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.open {
    display: block;
}

/*header*/
.inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caixa{
  display: flex;
  flex-direction: column;
}
.titulos {
  width: 100%;
}
.lea{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*SOBRE*/
.sobre{
  background: linear-gradient(to bottom, #373740 90%, #1a1b24 10%);
}
.sobre, .caixasobre{
  width: 100%;

  display: flex;
  flex-direction: column;
}
.caixatexto{
 width: 90%;
}
.duasinformacoes{
  display: flex;
  flex-direction: column;
}
.curriculo p{
  font-size: 19px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 18px;
}
.botao button {
  width: 160px;
  font-size: 15px;
}
.foto{
  width: 55%;
}
/*Habilidades*/
.quadrados{
  display: flex;
  flex-direction: column;
}

/*Linguagens*/
.caixas{
  display: flex;
  flex-direction: column;
}
#caixa1,#caixa2{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  text-align: center ;
}
#caixa1{
  margin-top: 100px;
}

/*FORMAÇÕES*/
.f1{
  width: 100%;
}
.formações{
  display: flex;
  flex-direction: column;
}
.tituloformacao{
  margin-top: 50px;
}

.perfil{
  background: url(../img/2_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
}
}